@use '../tokens';

.separator {
    background: var(--gray-900);
    transition: background 0.2s ease;


    body[data-dark="true"] & {
        background: var(--gray-100);
    }

    &:where([data-orientation=vertical]) {
        align-self: stretch;
        width: 1px;
        height: auto;
        margin: 4px 0;
    }

    &:where([data-orientation=horizontal]) {
        align-self: stretch;
        width: auto;
        height: 1px;
        margin: 0 4px;
    }
}