@use '../tokens';

.search {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;

    ::selection {
        background-color: var(--gray-800);
        color: var(--gray-200);
    }

    body[data-dark="true"] & {
        ::selection {
            background-color: var(--gray-200);
            color: var(--gray-800);
        }
    }

    // ---- Input styling ----
    &:has(.search-input:not(:placeholder-shown):not(:disabled)) {
        .search-icon {
            cursor: pointer;

            svg {
                stroke: var(--gray-950);

                body[data-dark="true"] & {
                    stroke: var(--gray-50);
                }
            }
        }
    }

    .search-wrapper {
        position: relative;
        display: inline-block;
    }

    .search-icon-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        &--left {
            left: 12px;
        }

        &--right {
            right: 12px;
            pointer-events: auto;

            .search-icon {
                cursor: pointer;
            }
        }
    }

    .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            display: block;
            stroke: var(--gray-600);
            transition: stroke 0.2s ease;

            body[data-dark="true"] & {
                stroke: var(--gray-400);
            }
        }

        // Search icon animation
        &--search,
        &--globe,
        &--close {
            animation: iconFadeIn 0.2s ease;
        }

        // Favicon initial state and animation
        &--favicon {
            opacity: 0;
            filter: blur(4px);
            transition: opacity 0.2s ease, filter 0.2s ease;

            &.blur-in {
                opacity: 1;
                filter: blur(0);
            }

            img {
                display: block;
                border-radius: 4px;
            }
        }
    }

    .search-input {
        --caret-color: var(--gray-950);

        width: 150px;
        padding: 12px 36px 12px 36px; // Right padding for close icon, left padding for search icon
        gap: 8px;
        border-radius: 8px;
        transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, width 0.2s ease, padding-left 0.2s ease;
        outline: none;
        background-color: var(--gray-25);
        border: 1px solid var(--gray-100);
        color: var(--gray-950);

        caret-animation: manual;
        animation: customCaretPulse 2.5s infinite;

        &::placeholder {
            color: var(--gray-400);
        }

        &:hover:not(:disabled),
        &:active:not(:disabled),
        &:focus:not(:disabled) {
            background-color: var(--gray-25);
            border-color: var(--gray-200);
        }

        &:disabled {
            background-color: var(--gray-200);
            border-color: var(--gray-300);
            color: var(--gray-600);
            cursor: not-allowed;

            &::placeholder {
                color: var(--gray-400);
            }
        }

        body[data-dark="true"] & {
            --caret-color: var(--gray-50);

            background-color: var(--gray-900);
            border: 1px solid var(--gray-800);
            color: var(--gray-50);

            &::placeholder {
                color: var(--gray-600);
            }

            &:hover:not(:disabled),
            &:active:not(:disabled),
            &:focus:not(:disabled) {
                background-color: var(--gray-900);
                border-color: var(--gray-700);
            }

            &:disabled {
                background-color: var(--gray-950);
                border-color: var(--gray-900);
                color: var(--gray-400);

                &::placeholder {
                    color: var(--gray-600);
                }
            }
        }
    }
}

@keyframes customCaretPulse {

    25%,
    70% {
        caret-color: var(--caret-color);
    }

    0%,
    50%,
    100% {
        caret-color: transparent;
    }
}

@keyframes iconFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}