@use '../tokens';

.time {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;

    // ---- Error Text styling ----
    .time-error {
        position: relative;
        top: -4px;
        text-transform: capitalize;
        color: var(--red-600);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease, transform 0.2s ease, color 0.2s ease;

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

        body[data-dark="true"] & {
            color: var(--red-400);
        }
    }

    // ---- Label styling ----
    .time-label {
        text-transform: capitalize;
        transition: color 0.2s ease;
        color: var(--gray-950);

        body[data-dark="true"] & {
            color: var(--gray-50);
        }
    }

    &:has(.time-input:disabled) .time-label {
        color: var(--gray-600);

        body[data-dark="true"] & {
            color: var(--gray-400);
        }
    }


    &:has(.time-input.error) .time-label {
        color: var(--red-600);

        body[data-dark="true"] & {
            color: var(--red-400);
        }
    }

    // ---- Input styling ----
    &:has(.time-input:not(:placeholder-shown):not(:disabled)) {
        .time-icon svg {
            stroke: var(--gray-950);

            body[data-dark="true"] & {
                stroke: var(--gray-50);
            }
        }
    }

    &:has(.time-input.error:not(:placeholder-shown):not(:disabled)) {
        .time-icon svg {
            stroke: var(--red-600);

            body[data-dark="true"] & {
                stroke: var(--red-400);
            }
        }
    }


    .time-wrapper {
        position: relative;
        display: inline-block;
    }

    .time-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease, transform 0.3s ease;

        svg {
            display: block;
            stroke: var(--gray-600);
            transition: stroke 0.2s ease;

            body[data-dark="true"] & {
                stroke: var(--gray-400);
            }
        }

        &.fade-out {
            opacity: 0;
            transform: translateY(-50%) scale(0.95);
        }
    }

    .time-input {
        --caret-color: var(--gray-950);
        font-variant-numeric: tabular-nums;

        width: 72px;
        padding: 12px 16px;
        border-radius: 8px;
        transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, width 0.2s ease, padding-left 0.2s ease;
        outline: none;
        background-color: var(--gray-25);
        border: 1px solid var(--gray-100);
        color: var(--gray-950);

        caret-animation: manual;
        animation: customCaretPulse 2.5s infinite;

        &::placeholder {
            color: var(--gray-400);
        }

        &:hover:not(:disabled):not(.error),
        &:active:not(:disabled):not(.error),
        &:focus:not(:disabled):not(.error) {
            background-color: var(--gray-25);
            border-color: var(--gray-200);
        }

        &:disabled {
            background-color: var(--gray-200);
            border-color: var(--gray-300);
            color: var(--gray-600);
            cursor: not-allowed;

            &::placeholder {
                color: var(--gray-400);
            }
        }

        &.error {
            border-color: var(--red-600);

            &:active:not(:disabled),
            &:hover:not(:disabled),
            &:focus:not(:disabled) {
                border-color: var(--red-600);
            }
        }

        &.error:not(:placeholder-shown) {
            color: var(--red-600);
        }

        body[data-dark="true"] & {
            --caret-color: var(--gray-50);

            background-color: var(--gray-900);
            border: 1px solid var(--gray-800);
            color: var(--gray-50);

            &::placeholder {
                color: var(--gray-600);
            }

            &:hover:not(:disabled):not(.error),
            &:active:not(:disabled):not(.error),
            &:focus:not(:disabled):not(.error) {
                background-color: var(--gray-900);
                border-color: var(--gray-700);
            }

            &:disabled {
                background-color: var(--gray-950);
                border-color: var(--gray-900);
                color: var(--gray-400);

                &::placeholder {
                    color: var(--gray-600);
                }
            }

            &.error {
                border-color: var(--red-400);

                &:active:not(:disabled),
                &:hover:not(:disabled),
                &:focus:not(:disabled) {
                    border-color: var(--red-400);
                }
            }

            &.error:not(:placeholder-shown) {
                color: var(--red-400);
            }
        }
    }

    // ===== HAS ICON STYLES =====
    &.has-icon {
        .time-input {
            padding-left: 37px;
        }
    }

    // ===== ICON FADED STYLES =====
    &.icon-faded {
        .time-input {
            padding-left: 16px;
            width: calc(72px + 21px); // Original width + icon space
        }
    }
}

@keyframes customCaretPulse {

    25%,
    70% {
        caret-color: var(--caret-color);
    }

    0%,
    50%,
    100% {
        caret-color: transparent;
    }
}

@keyframes iconFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}