@use '../tokens';

$sizes: (
    small: 14px,
    medium: 16px,
    large: 24px,
    xlarge: 32px,
);

.spinner,
.loader {
    color: var(--gray-950);
    transition: color 0.2s ease;

    @each $size, $value in $sizes {
        &.#{$size} {
            width: $value;
            height: $value;
        }
    }

    svg {
        width: 100%;
        height: 100%;
    }

    body[data-dark="true"] & {
        color: var(--gray-50);
    }
}

.spinner svg {
    animation: rotate 0.75s linear infinite;
}

.loader svg {
    animation: rotate 1.25s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}