@use 'sass:color';
@use '../tokens';

$gray-color: #808080;
$red-color: #F90606;
$orange-color: #f98006;
$yellow-color: #F9D006;
$lime-color: #57f906;
$green-color: #06F980;
$lightBlue-color: #06d0f9;
$blue-color: #0667F9;
$purple-color: #a806f9;
$pink-color: #f90680;

$colors: (
    'gray': $gray-color,
    'red': $red-color,
    'orange': $orange-color,
    'yellow': $yellow-color,
    'lime': $lime-color,
    'green': $green-color,
    'lightBlue': $lightBlue-color,
    'blue': $blue-color,
    'purple': $purple-color,
    'pink': $pink-color
);

$color-shades: (
    50: 95%,
    100: 90%,
    200: 80%,
    300: 70%,
    400: 60%,
    500: 50%,
    600: 40%,
    700: 30%,
    800: 20%,
    900: 10%,
    950: 5%
);

// Generate CSS variables for each color
:root {
    @each $color-name, $base-color in $colors {
        @each $shade, $lightness in $color-shades {
            --#{$color-name}-#{$shade}: #{color.change($base-color, $lightness: $lightness)};
        }
    }
}

.tag {
    display: inline-flex;
    padding: 8px;
    border-radius: 8px;
    gap: 4px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, transform .2s cubic-bezier(0.55, 0.09, 0.68, 0.53);

    &:active {
        transform: scale(0.99);
    }

    .close {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    svg {
        width: 16px;
        height: 16px;
    }

    p {
        margin: 0;
    }

    // Apply styles for each color using loop
    @each $color-name, $base-color in $colors {
        &.#{$color-name} {
            background-color: var(--#{$color-name}-100);
            border: 1px solid var(--#{$color-name}-200);
            color: var(--#{$color-name}-800);

            &:hover {
                background-color: var(--#{$color-name}-200);
                border-color: var(--#{$color-name}-300);
                color: var(--#{$color-name}-800);
            }

        }
    }

    // Dark mode styles
    body[data-dark="true"] & {
        @each $color-name, $base-color in $colors {
            &.#{$color-name} {
                background-color: var(--#{$color-name}-900);
                border-color: var(--#{$color-name}-800);
                color: var(--#{$color-name}-200);

                &:hover {
                    background-color: var(--#{$color-name}-800);
                    border-color: var(--#{$color-name}-700);
                    color: var(--#{$color-name}-200);
                }
            }
        }
    }
}