@use '../tokens';

// Base button styles
.button {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    line-height: 100%;
    font-weight: 600;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, transform 0.2s ease;
    border: 1px solid;
}

// Size styles
$sizes: 'small', 'medium', 'large', 'xlarge';

@each $size in $sizes {
    button.#{$size} {
        @if $size =='small' {
            padding: 0.5rem;
            font-size: 0.875rem;
            line-height: 1;

            svg {
                width: 0.875rem;
                height: 0.875rem;
            }
        }

        @else if $size =='medium' {
            padding: 0.625rem;
            font-size: 1rem;
            line-height: 1;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        @else if $size =='large' {
            padding: 0.75rem;
            font-size: 1rem;
            line-height: 1;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        @else if $size =='xlarge' {
            padding: 0.875rem;
            font-size: 1rem;
            line-height: 1;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

.button {

    // Primary variant
    &.primary {
        background-color: var(--primary-600);
        border-color: var(--primary-600);
        color: var(--gray-25);

        &:hover:not(:disabled) {
            background-color: var(--primary-700);
            border-color: var(--primary-700);
        }

        &:active:not(:disabled) {
            background-color: var(--primary-800);
            border-color: var(--primary-800);
            transform: scale(0.99);
        }

        &:disabled {
            background-color: var(--primary-200);
            border-color: var(--primary-200);
            color: var(--gray-50);
            cursor: not-allowed;
        }

        body[data-dark="true"] & {
            background-color: var(--primary-500);
            border-color: var(--primary-500);
            color: var(--gray-25);

            &:hover:not(:disabled) {
                background-color: var(--primary-400);
                border-color: var(--primary-400);
            }

            &:active:not(:disabled) {
                background-color: var(--primary-300);
                border-color: var(--primary-300);
            }

            &:disabled {
                background-color: var(--primary-800);
                border-color: var(--primary-800);
                color: var(--gray-400);
            }
        }
    }

    // outline variant
    &.secondary {
        background-color: var(--gray-25);
        border: 1px solid var(--gray-100);
        color: var(--gray-900);

        &:hover:not(:disabled),
        &:active:not(:disabled) {
            background-color: var(--gray-25);
            border-color: var(--gray-200);
        }

        &:active:not(:disabled) {
            transform: scale(0.98);
        }

        &:disabled {
            /*edit this*/
            background-color: var(--gray-200);
            border-color: var(--gray-300);
            color: var(--gray-600);
            cursor: not-allowed;
        }


        body[data-dark="true"] & {
            background-color: var(--gray-900);
            border: 1px solid var(--gray-800);
            color: var(--gray-100);

            &:hover:not(:disabled),
            &:active:not(:disabled) {
                background-color: var(--gray-900);
                border-color: var(--gray-700);
            }

            &:disabled {
                /*edit this*/
                background-color: var(--gray-950);
                border-color: var(--gray-900);
                color: var(--gray-400);
            }
        }

        // .button-label {
        //     font-weight: 400;
        // }
    }

    // outline variant
    &.outline {
        background-color: transparent;
        border-color: var(--primary-600);
        color: var(--primary-600);

        &:hover:not(:disabled) {
            border-color: var(--primary-700);
            color: var(--primary-700);
        }

        &:active:not(:disabled) {
            border-color: var(--primary-800);
            color: var(--primary-800);
            transform: scale(0.99);
        }

        &:disabled {
            border-color: var(--primary-200);
            color: var(--primary-200);
            cursor: not-allowed;
        }

        body[data-dark="true"] & {
            border-color: var(--primary-500);
            color: var(--primary-500);

            &:hover:not(:disabled) {
                border-color: var(--primary-400);
                color: var(--primary-400);
            }

            &:active:not(:disabled) {
                border-color: var(--primary-300);
                color: var(--primary-300);
            }

            &:disabled {
                border-color: var(--primary-800);
                color: var(--primary-800);
            }
        }
    }

    // Ghost variant
    &.ghost {
        background-color: transparent;
        border-color: transparent;
        color: var(--primary-600);

        &:hover:not(:disabled) {
            background-color: var(--primary-50);
            color: var(--primary-700);
        }

        &:active:not(:disabled) {
            background-color: var(--primary-100);
            color: var(--primary-800);
            transform: scale(0.99);
        }

        &:disabled {
            color: var(--primary-200);
            cursor: not-allowed;
        }

        body[data-dark="true"] & {
            color: var(--primary-500);

            &:hover:not(:disabled) {
                background-color: var(--primary-950);
                color: var(--primary-400);
            }

            &:active:not(:disabled) {
                background-color: var(--primary-900);
                color: var(--primary-300);
            }

            &:disabled {
                color: var(--primary-800);
            }
        }
    }
}