@use 'sass:color';

//primary color
$primary-color: #0667F9;

//grayscale color
$gray-color: #808080;

//status colors
$warning-color: #F98006;
$danger-color: #F90606;
$success-color: #06F980;
$info-color: #06A8F9;

$color-shades: (
    50: 95%,
    100: 90%,
    200: 80%,
    300: 70%,
    400: 60%,
    500: 50%,
    600: 40%,
    700: 30%,
    800: 20%,
    900: 10%,
    950: 5%
);
$gray-shades: (
    25: 100%,
    50: 95%,
    100: 90%,
    200: 80%,
    300: 70%,
    400: 60%,
    500: 50%,
    600: 40%,
    700: 30%,
    800: 20%,
    900: 10%,
    950: 5%,
    975: 0%,
);

:root {
    @each $shade, $lightness in $color-shades {
        //primary color scale:
        --primary-#{$shade}: #{color.change($primary-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $color-shades {
        //warning color scale:
        --orange-#{$shade}: #{color.change($warning-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $color-shades {
        //danger color scale:
        --red-#{$shade}: #{color.change($danger-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $color-shades {
        //success color scale:
        --green-#{$shade}: #{color.change($success-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $color-shades {
        //info color scale:
        --blue-#{$shade}: #{color.change($info-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $gray-shades {
        //gray color scale:
        --gray-#{$shade}: #{color.change($gray-color, $lightness: $lightness)};
    }

}


//*******Typography********//
@for $i from 1 through 6 {
    h#{$i} {
        font-size: 1rem * pow(1.25, 7 - $i);
        font-weight: 600;
        font-family: 'Inter', system-ui, -apple-system, sans-serif;
        margin: 0;
    }

    p {
        font-size: 1rem;
        font-family: 'Inter', system-ui, -apple-system, sans-serif;
        margin: 0;
    }

    input {
        font-size: 1rem;
        font-family: 'Inter', system-ui, -apple-system, sans-serif;
    }

    small {
        font-size: 0.8rem;
        font-family: 'Inter', system-ui, -apple-system, sans-serif;
        margin: 0;
    }
}