@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

//primary color
$primary-color: #0667F9;

//grayscale color
$gray-color: #808080;

//status colors
$warning-color: #F98006;
$danger-color: #F90606;
$success-color: #06F980;
$info-color: #06d0f9;

$yellow-color: #F9D006;
$lime-color: #57f906;
$purple-color: #a806f9;
$pink-color: #f90680;

$colors: (
    'yellow': $yellow-color,
    'lime': $lime-color,
    'purple': $purple-color,
    'pink': $pink-color
);

$color-shades: (
    50: 95%,
    100: 90%,
    200: 80%,
    300: 70%,
    400: 60%,
    500: 50%,
    600: 40%,
    700: 30%,
    800: 20%,
    900: 10%,
    950: 5%
);

$gray-shades: (
    25: 100%,
    50: 95%,
    100: 90%,
    200: 80%,
    300: 70%,
    400: 60%,
    500: 50%,
    600: 40%,
    700: 30%,
    800: 20%,
    900: 10%,
    950: 5%,
    975: 0%,
);

:root {
    font-size: 16px;

    @each $shade, $lightness in $color-shades {
        //primary color scale:
        --primary-#{$shade}: #{color.change($primary-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $color-shades {
        //warning color scale:
        --orange-#{$shade}: #{color.change($warning-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $color-shades {
        //danger color scale:
        --red-#{$shade}: #{color.change($danger-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $color-shades {
        //success color scale:
        --green-#{$shade}: #{color.change($success-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $color-shades {
        //info color scale:
        --lightBlue-#{$shade}: #{color.change($info-color, $lightness: $lightness)};
    }

    @each $shade, $lightness in $gray-shades {
        //gray color scale:
        --gray-#{$shade}: #{color.change($gray-color, $lightness: $lightness)};
    }

    @each $color-name, $base-color in $colors {
        @each $shade, $lightness in $color-shades {
            --#{$color-name}-#{$shade}: #{color.change($base-color, $lightness: $lightness)};
        }
    }

}

@media screen and (max-width: 600px) {
    :root {
        font-size: 14px;
    }

}

//*******Typography********//
@for $i from 1 through 6 {
    h#{$i} {
        font-size: 1rem * pow(1.25, 7 - $i);
        font-weight: 500;
        font-family: 'Inter', system-ui, sans-serif;
        -webkit-font-smoothing: antialiased;
        margin: 0;
    }
}

p,
span {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    transition: color 0.2s ease;
}

input,
textarea {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

small {
    font-size: 0.8rem;
    font-weight: 300;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    margin: 0;
    transition: color 0.2s ease;
}

input::spelling-error,
textarea::spelling-error {
    text-decoration: 2px dashed underline var(--red-500);
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background-color: var(--gray-800);
    color: var(--gray-200);

    body[data-dark="true"] & {
        background-color: var(--gray-200);
        color: var(--gray-800);
    }
}

/*========== Animations ==========*/
/* Used in: Date - Input - Number - OTP - Search - Textarea - Time */
@keyframes customCaretPulse {

    25%,
    70% {
        caret-color: var(--caret-color);
    }

    0%,
    50%,
    100% {
        caret-color: transparent;
    }
}

/* Used in: Input - Search - Textarea */
@keyframes iconFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Used in: ScrollSegment */
@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50%);
    }
}

/* Used in: ScrollSegment */
@keyframes slideDown {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
}

/* Used in: Input - Search */
@keyframes shine-ray {
    0% {
        left: -75%;
    }

    100% {
        left: 150%;
    }
}

/* Used in: Textarea */
@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }
}

/* Used in: Spinner */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.shimmer {
    background: linear-gradient(90deg,
            var(--gray-100) 30%,
            var(--gray-200) 50%,
            var(--gray-100) 70%);
    background-size: 400%;
    animation: shimmer 1.5s infinite linear;

    body[data-dark="true"] & {
        background: linear-gradient(90deg,
                var(--gray-900) 30%,
                var(--gray-800) 50%,
                var(--gray-900) 70%);
    }

}

@keyframes shimmer {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}